@model List<Product>
@{
    <form asp-controller="Product" asp-action="GetProduct" onsubmit="return checkInputValue()" method="post">
        <div class="input-group input-group-sm mb-3">
            <input name="SearchProperty" style="box-shadow:none" type="text" class="form-control" placeholder="Product name or ID">
            <button type="submit" style="box-shadow:none" class="btn btn-primary">Search</button>
        </div>
    </form>
    if (Model.Count != 0)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="card m-3 bg-secondary text-white" style="width: 16rem;">
                <img style="width: 230px; height: 175px; object-fit: contain" src="@Url.Content( Model[i].ImageLink == null ? "~/image/noresult.png" : Model[i].ImageLink)" class="card-img-top" alt="..." />
                <ul class="list-group list-group-flush bg-secondary">
                    <li class="list-group-item bg-secondary text-white"> Product Id: @Model[i].Id</li>
                    <li class="list-group-item bg-secondary text-white">Name: @Model[i].Name</li>
                    <li class="list-group-item bg-secondary text-white">Category: @Model[i].Category</li>
                    <li class="list-group-item bg-secondary text-white">Price: @Model[i].Price</li>
                    <li class="list-group-item bg-secondary text-white">Count: @Model[i].Count</li>
                    <li class="list-group-item bg-secondary text-white">Description: @Model[i].Description</li>
                    <li class="list-group-item bg-secondary text-white">
                        <a class="btn btn-primary m-auto" style="width:45%" href="@Url.Action("DeleteProduct","Product", new { Model[i].Id })">Delete</a>
                        <a class="btn btn-primary m-auto" style="width:45%" href="@Url.Action("AddProduct","Product", new { Model[i].Id })">Edit</a>
                    </li>
                </ul>
            </div>
        }
    }
    else
    {
        <h2 class="text-center text-info">No products found</h2>
    }
    <script>
        const input = document.querySelector("input");
        function checkInputValue() {
            let str = input.value.trim()
            if (str.length === 0) {
                alert("Please enter ID or Name of the product")
                return false;
            }
            return true
        }
    </script>
}